<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>favorite animals</title>
</head>
<body>
    <h1>Favorite Animals</h1>
    <ul >
        <% animals.forEach(Animal =>{%>
         <li><%=Animal%></li>
        <%})%>
    </ul>
    
</body>
</html>