<!DOCTYPE html>
<html>
<head>
  <title>Ahbeh || Akerha</title>
</head>
<body>
  
    <header style="border-bottom: 5px solid black;">
        <h1> Ahbeh || Akerha </h1>
    </header>

    <%- body %>
</body>
</html>